* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Roboto";
}

body {
  background: linear-gradient(90deg, rgba(102,5,33,1) 25%, rgba(143,0,0,1) 50%, rgba(102,5,33,1) 75%);
  height: 100vh;

  text-align: center;
}

header {
  padding: 75px 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
