* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .container-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 7vw;
  }
}

.slider {
  width: 100%;
  height: auto;
}

.slide img {
  width: 90%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 13%;
}